.row
  .col-lg-6
    = form_tag "/", method: "GET" do
      .form-group
        = text_field_tag :keyword, nil, class: "form-control", placeholder: "Search screencast here"

      .form-group
        = link_to "Reset", root_url, class: "btn btn-primary"

.row
  .col-lg-12
    - @screencasts.in_groups_of(3, false) do |group|
      .row
        - group.each do |screencast|
          .col-lg-4
            %h3
              = link_to screencast.decorated_name, screencast_path(name: screencast.name, path: screencast.path)
